{% extends 'base.html.twig' %}

{% block title %}PhotoSelectPRO{% endblock %}

{% block body %}
<div class="prose prose-amber max-w-5xl mx-auto">
    <h1 class="h1 text-center">{{ title }}</h1>
    <h2 class="h2">{{ title }}</h2>
    <h3 class="h3">{{ title }}</h3>
    <h4 class="h4">{{ title }}</h4>
    <h5 class="h5">{{ title }}</h5>
    <h6 class="h6">{{ title }}</h6>
    <p class="fonts-size"> Body Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ducimus earum fuga fugiat fugit incidunt iure magnam odio officiis saepe soluta.</p>
    <p class="fonts-size bold">Bolder Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, doloribus
        similique.
        Adipisci atque cum impedit officiis perferendis porro rem reprehenderit.</p>
    
    <div>
        <img src="" alt="">
    </div>
</div>
{% endblock %}
