{% extends 'base.html.twig' %}

{% block title %}PhotoSelectPRO{% endblock %}

{% block body %}
<div class="prose prose-slate">
    <h1 class="text-7xl lead">{{ title }}</h1>
    <h2 class="text-6xl">{{ title }}</h2>
    <h3 class="text-5xl">{{ title }}</h3>
    <h4 class="text-4xl">{{ title }}</h4>
    <h5 class="text-3xl">{{ title }}</h5>
    <h6 class="text-2xl">{{ title }}</h6>
    <p> Body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus earum fuga fugiat fugit
        incidunt iure
        magnam odio officiis saepe soluta.</p>
    <p class="bold">Bolder Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, doloribus similique.
        Adipisci atque
        cum
        impedit officiis perferendis porro rem reprehenderit.</p>
</div>
{% endblock %}
