{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<section class="relative bg-white py-2 iphone:py-6 xs:py-4 lg:py-14">
    <div class="max-w-5xl mx-auto py-10 sm:px-6 lg:px-8">
        <h5 class="h5 p-8 my-8">Réinitialiser votre mot de passe</h5>
        
        {{ form_start(resetForm, {'attr': {'class': 'max-w-2xl mx-auto p-8 iphone:p-5 sm:p-6 md:p-8'}}) }}
            {{ form_label(resetForm.plainPassword.first) }}
            {{ form_widget(resetForm.plainPassword.first) }}
            <span class="text-danger-700 text-sm">{{ form_errors(resetForm.plainPassword.first) }}</span>
            {{ form_label(resetForm.plainPassword.second) }}
            {{ form_widget(resetForm.plainPassword.second) }}
        <button class="btn-primary max-w-sm mx-auto">Réinitialiser le mot de passe</button>
        {{ form_end(resetForm) }}
    </div>
</section>
{% endblock %}
