<div>
	<!-- Hero section -->
	<div class="relative max-w-screen-2xl mx-auto">
		<!-- Background image and overlap -->
		<div aria-hidden="true" class="hidden absolute inset-0 rounded-md sm:flex sm:flex-col">
			<div class="flex-1 relative w-full bg-transparent">
				<div class="absolute inset-0 overflow-hidden">
					<img src="{{ asset('images/site-images/duy-pham-Cecb0_8Hx-o-unsplash.jpg') }}" alt="" class="w-full h-full object-center object-cover rounded-md">
				</div>
				<div class="absolute inset-0 bg-gray-900 opacity-50 rounded-md"></div>
			</div>
			<div class="w-full bg-white h-32 md:h-40 lg:h-48"></div>
		</div>
		
		<div class="relative max-w-3xl mx-auto pb-96 px-4 text-center sm:pb-0 sm:px-0 lg:px-8">
			<!-- Background image and overlap -->
			<div aria-hidden="true" class="absolute inset-0 flex flex-col sm:hidden">
				<div class="flex-1 relative w-full bg-gray-800">
					<div class="absolute inset-0 overflow-hidden">
						<img src="{{ asset('images/site-images/levi-guzman-zdSoe8za6Hs-unsplash.jpg') }}" alt="" class="w-full h-full object-center object-cover">
					</div>
					<div class="absolute inset-0 bg-gray-900 opacity-50"></div>
				</div>
				<div class="w-full bg-white h-48"></div>
			</div>
			<div class="relative py-32">
				<h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl md:text-6xl">Créer Votre parcour</h1>
				<div class="mt-4 sm:mt-6">
					<a href="#" class="inline-block bg-indigo-600 border border-transparent rounded-md py-3 px-8 font-medium text-white hover:bg-indigo-700">Shop Collection</a>
				</div>
			</div>
		</div>
		
		<section aria-labelledby="collection-heading" class="-mt-96 relative sm:mt-0">
			<h2 id="collection-heading" class="sr-only">Collections</h2>
			<div class="max-w-md mx-auto grid grid-cols-1 gap-y-6 px-4 lg:max-w-7xl lg:grid-cols-3 lg:gap-y-0 lg:px-8 lg:gap-x-8">
				<div class="group relative h-96 bg-white rounded-lg shadow-xl sm:h-auto sm:aspect-w-4 sm:aspect-h-5">
					<div>
						<div aria-hidden="true" class="absolute inset-0 rounded-lg overflow-hidden">
							<div class="absolute inset-0 overflow-hidden opacity-60">
								<img src="{{ asset('images/site-images/josh-calabrese-Ev1XqeVL2wI-unsplash.jpg') }}" alt="Woman wearing a comfortable cotton t-shirt." class="w-full h-full object-center object-cover">
							</div>
							<div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-95"></div>
						</div>
						<div class="absolute inset-0 rounded-lg p-6 flex items-end">
							<div>
								<h3 class="mt-1 font-semibold text-white">
									<a href="#">
										<span class="absolute inset-0"></span>
										Inviter votre équipe
									</a>
								</h3>
								<p aria-hidden="true" class="text-sm text-white subpixel-antialiased">Inviter votre équipe pour une sélection de photos est une démarche stratégique visant à collaborer avec des responsables expérimentés dans le but de choisir les images les plus appropriées pour un projet ou une campagne. Cette collaboration permet d'assurer une perspective professionnelle, une prise de décision éclairée et une cohérence visuelle, garantissant ainsi la qualité et l'impact des photos sélectionnées.</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="group relative h-96 bg-white rounded-lg shadow-xl sm:h-auto sm:aspect-w-4 sm:aspect-h-5">
					<div>
						<div aria-hidden="true" class="absolute inset-0 rounded-lg overflow-hidden">
							<div class="absolute inset-0 overflow-hidden opacity-60">
								<img src="{{ asset('images/site-images/headway-5QgIuuBxKwM-unsplash.jpg') }}" alt="Man wearing a comfortable and casual cotton t-shirt." class="w-full h-full object-left object-cover">
							</div>
							<div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-95"></div>
						</div>
						<div class="absolute inset-0 rounded-lg p-6 flex items-end">
							<div>
								<h3 class="mt-1 font-semibold text-white">
									<a href="#">
										<span class="absolute inset-0"></span>
										Échanger vos points de vue
									</a>
								</h3>
								<p aria-hidden="true" class="text-sm text-white subpixel-antialiased">Échanger des points de vue sur la sélection de photos est une démarche collaborative enrichissante. Cette réunion permet d'intégrer différentes perspectives, d'aligner sur les stratégies globales de l'entreprise, et de tirer parti de l'expertise collective pour prendre des décisions informées. L'échange de points de vue favorise la créativité et la compréhension mutuelle, renforçant ainsi la qualité et la pertinence des choix photographiques pour atteindre les objectifs fixés.</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="group relative h-96 bg-white rounded-lg shadow-xl sm:h-auto sm:aspect-w-4 sm:aspect-h-5">
					<div>
						<div aria-hidden="true" class="absolute inset-0 rounded-lg overflow-hidden">
							<div class="absolute inset-0 overflow-hidden opacity-70">
								<img src="{{ asset('images/site-images/krakenimages-Y5bvRlcCx8k-unsplash.jpg') }}" alt="Person sitting at a wooden desk with paper note organizer, pencil and tablet." class="w-full h-full object-center object-cover">
							</div>
							<div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-95"></div>
						</div>
						<div class="absolute inset-0 rounded-lg p-6 flex items-end">
							<div>
								<h3 class="mt-1 font-semibold text-white">
									<a href="#">
										<span class="absolute inset-0"></span>
										Consolider les choix
									</a>
								</h3>
								<p aria-hidden="true" class="text-sm text-white subpixel-antialiased">Après la sélection initiale des photos. Cela peut se faire pour confirmer les décisions prises, s'assurer de la cohérence avec la vision globale du projet, et résoudre tout éventuel désaccord. La consolidation des choix inclut également la possibilité d'ajuster les sélections en fonction des commentaires supplémentaires de l'équipe, d'optimiser la représentation visuelle, et de garantir que les images choisies répondent aux normes de qualité et aux objectifs prédéfinis.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<section aria-labelledby="trending-heading">
	
	</section>
</div>
