<div>
    <!-- Hero section -->
    <div class="relative max-w-screen-2xl mx-auto">
        <!-- Background image and overlap -->
        <div
            aria-hidden="true"
            class="hidden absolute inset-0 rounded-md sm:flex sm:flex-col">
            <div class="flex-1 relative w-full bg-transparent">
                <div class="absolute inset-0 overflow-hidden">
                    <img
                        src="{{ asset('images/site-images/duy-pham-Cecb0_8Hx-o-unsplash.jpg') }}"
                        alt=""
                        class="w-full h-full object-center object-cover rounded-md"></div>
                    <div class="absolute inset-0 bg-gray-900 opacity-50 rounded-md"></div>
                </div>
                <div class="w-full bg-white h-32 md:h-40 lg:h-48"></div>
            </div>

            <div
                class="relative max-w-3xl mx-auto pb-96 px-4 text-center sm:pb-0 sm:px-0 lg:px-8">
                <!-- Background image and overlap -->
                <div aria-hidden="true" class="absolute inset-0 flex flex-col sm:hidden">
                    <div class="flex-1 relative w-full bg-gray-800">
                        <div class="absolute inset-0 overflow-hidden">
                            <img
                                src="{{ asset('images/site-images/levi-guzman-zdSoe8za6Hs-unsplash.jpg') }}"
                                alt=""
                                class="w-full h-full object-center object-cover"></div>
                            <div class="absolute inset-0 bg-gray-900 opacity-50"></div>
                        </div>
                        <div class="w-full bg-white h-48"></div>
                    </div>
                    <div class="relative py-32">

                        <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl md:text-6xl">
							Créer Votre parcour
						</h1>
						<p class="text-white text-md text-center max-w-2xl mx-auto py-10">Entamez dès aujourd'hui un parcours personnalisé qui vous offre une expérience professionnelle exceptionnelle, parfaitement adaptée à vos besoins. Nous vous invitons à vous lancer dans cette aventure inoubliable. Êtes-vous prêt à explorer les avantages uniques qui vous attendent ?</p>
                        <div class="mt-4 sm:mt-6">
                            <a
                                href="{{ path('app_register_client') }}"
                                class="inline-block bg-gray-600 border border-transparent rounded-md py-3 px-8 font-medium text-white hover:bg-gray-700">Demarrer</a>
                        </div>
                    </div>
                </div>

                <section aria-labelledby="collection-heading" class="-mt-96 relative sm:mt-0">
                    <h2 id="collection-heading" class="sr-only">Collections</h2>
                    <div
                        class="max-w-md mx-auto grid grid-cols-1 gap-y-6 px-4 lg:max-w-7xl lg:grid-cols-3 lg:gap-y-0 lg:px-8 lg:gap-x-8">
                        <div
                            class="group relative h-96 bg-white rounded-lg shadow-xl sm:h-auto sm:aspect-w-4 sm:aspect-h-5">
                            <div>
                                <div aria-hidden="true" class="absolute inset-0 rounded-lg overflow-hidden">
                                    <div class="absolute inset-0 overflow-hidden opacity-60">
                                        <img
                                            src="{{ asset('images/site-images/josh-calabrese-Ev1XqeVL2wI-unsplash.jpg') }}"
                                            alt="Woman wearing a comfortable cotton t-shirt."
                                            class="w-full h-full object-center object-cover"></div>
                                        <div
                                            class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-95"></div>
                                    </div>
                                    <div class="absolute inset-0 rounded-lg p-6 flex items-end">
                                        <div>
                                            <h3 class="h4 mt-1 font-semibold text-white">
                                                <span class="absolute inset-0"></span>
                                                Inviter votre équipe
                                            </h3>
                                            <p aria-hidden="true" class="text-sm text-white subpixel-antialiased"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="group relative h-96 bg-white rounded-lg shadow-xl sm:h-auto sm:aspect-w-4 sm:aspect-h-5">
                                <div>
                                    <div aria-hidden="true" class="absolute inset-0 rounded-lg overflow-hidden">
                                        <div class="absolute inset-0 overflow-hidden opacity-60">
                                            <img
                                                src="{{ asset('images/site-images/headway-5QgIuuBxKwM-unsplash.jpg') }}"
                                                alt="Man wearing a comfortable and casual cotton t-shirt."
                                                class="w-full h-full object-left object-cover"></div>
                                            <div
                                                class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-95"></div>
                                        </div>
                                        <div class="absolute inset-0 rounded-lg p-6 flex items-end">
                                            <div>
                                                <h3 class="mt-1 h4 font-semibold text-white">
                                                    <span class="absolute inset-0"></span>
                                                    Échanger vos points de vue
                                                </h3>
                                                <p aria-hidden="true" class="text-sm text-white subpixel-antialiased"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div
                                    class="group relative h-96 bg-white rounded-lg shadow-xl sm:h-auto sm:aspect-w-4 sm:aspect-h-5">
                                    <div>
                                        <div aria-hidden="true" class="absolute inset-0 rounded-lg overflow-hidden">
                                            <div class="absolute inset-0 overflow-hidden opacity-70">
                                                <img
                                                    src="{{ asset('images/site-images/krakenimages-Y5bvRlcCx8k-unsplash.jpg') }}"
                                                    alt="Person sitting at a wooden desk with paper note organizer, pencil and tablet."
                                                    class="w-full h-full object-center object-cover"></div>
                                                <div
                                                    class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-95"></div>
                                            </div>
                                            <div class="absolute inset-0 rounded-lg p-6 flex items-end">
                                                <div>
                                                    <h3 class="mt-1 h4 font-semibold text-white">
                                                        <span class="absolute inset-0"></span>
                                                        Consolider les choix
                                                    </h3>
                                                    <p aria-hidden="true" class="text-sm text-white subpixel-antialiased"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <section aria-labelledby="trending-heading">
                            <!-- This example requires Tailwind CSS v2.0+ -->
                            <div class="bg-white">
                                <div class="max-w-screen-2xl mx-auto px-4 py-24 sm:px-6 lg:px-8">
                                    <div class="bg-gray-50 rounded-2xl px-6 py-16 sm:p-16">
                                        <div class="max-w-xl mx-auto lg:max-w-none">
                                            <div class="text-center">
                                                <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Choisir et
                                                    consolider des photos percutantes, alignées sur vos objectifs stratégiques.</h2>
                                            </div>

                                            <div
                                                class="mt-12 max-w-sm mx-auto grid grid-cols-1 gap-y-10 gap-x-8 sm:max-w-none lg:grid-cols-3 lg:gap-x-14">
                                                <div class="text-center sm:flex sm:text-left lg:block lg:text-justify">
                                                    <div class="sm:flex-shrink-0">
                                                        <div class="flow-root">
                                                            <img
                                                                width="100"
                                                                height="100"
                                                                class="w-16 h-16 mx-auto"
                                                                src="https://img.icons8.com/ios/100/teams.png"
                                                                alt="teams"/>
                                                        </div>
                                                    </div>
                                                    <div class="mt-3 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
                                                        <h3 class="text-sm text-center font-medium text-gray-900">Votre équipe</h3>
                                                        <p class="mt-2 text-sm text-gray-500">Inviter votre équipe pour une sélection de
                                                            photos est une démarche stratégique visant à collaborer avec des responsables
                                                            expérimentés dans le but de choisir les images les plus appropriées pour un
                                                            projet ou une campagne. Cette collaboration permet d'assurer une perspective
                                                            professionnelle, une prise de décision éclairée et une cohérence visuelle,
                                                            garantissant ainsi la qualité et l'impact des photos sélectionnées.</p>
                                                    </div>
                                                </div>

                                                <div class="text-center sm:flex sm:text-left lg:block lg:text-justify">
                                                    <div class="sm:flex-shrink-0">
                                                        <div class="flow-root">
                                                            <img
                                                                width="100"
                                                                height="100"
                                                                class="w-16 h-16 mx-auto"
                                                                src="https://img.icons8.com/ios/100/collaboration-female-male.png"
                                                                alt="collaboration-female-male"/>
                                                        </div>
                                                    </div>
                                                    <div class="mt-3 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
                                                        <h3 class="text-sm text-center font-medium text-gray-900">Échanger</h3>
                                                        <p class="mt-2 text-sm text-gray-500">Échanger des points de vue sur la
                                                            sélection de photos est une démarche collaborative enrichissante. Cette réunion
                                                            permet d'intégrer différentes perspectives, d'aligner sur les stratégies
                                                            globales de l'entreprise, et de tirer parti de l'expertise collective pour
                                                            prendre des décisions informées. L'échange de points de vue favorise la
                                                            créativité et la compréhension mutuelle, renforçant ainsi la qualité et la
                                                            pertinence des choix photographiques pour atteindre les objectifs fixés.</p>
                                                    </div>
                                                </div>

                                                <div class="text-center sm:flex sm:text-left lg:block lg:text-justify">
                                                    <div class="sm:flex-shrink-0">
                                                        <div class="flow-root">
                                                            <img
                                                                width="100"
                                                                height="100"
                                                                class="w-16 h-16 mx-auto"
                                                                src="https://img.icons8.com/ios/100/handshake--v1.png"
                                                                alt="handshake--v1"/>
                                                        </div>
                                                    </div>
                                                    <div class="mt-3 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
                                                        <h3 class="text-sm text-center font-medium text-gray-900">Consolider</h3>
                                                        <p class="mt-2 text-sm text-gray-500">Après la sélection initiale des photos.
                                                            Cela peut se faire pour confirmer les décisions prises, s'assurer de la
                                                            cohérence avec la vision globale du projet, et résoudre tout éventuel désaccord.
                                                            La consolidation des choix inclut également la possibilité d'ajuster les
                                                            sélections en fonction des commentaires supplémentaires de l'équipe, d'optimiser
                                                            la représentation visuelle, et de garantir que les images choisies répondent aux
                                                            normes de qualité et aux objectifs prédéfinis.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="relative py-16 bg-white">
                            <div
                                class="hidden absolute top-0 inset-x-0 h-1/2 bg-gray-50 lg:block"
                                aria-hidden="true"></div>
                            <div class="max-w-7xl mx-auto bg-gray-700 lg:bg-transparent lg:px-8">
                                <div class="lg:grid lg:grid-cols-12">
                                    <div
                                        class="relative z-10 lg:col-start-1 lg:row-start-1 lg:col-span-4 lg:py-16 lg:bg-transparent">
                                        <div class="absolute inset-x-0 h-1/2 bg-gray-50 lg:hidden" aria-hidden="true"></div>
                                        <div class="max-w-md mx-auto px-4 sm:max-w-3xl sm:px-6 lg:max-w-none lg:p-0">
                                            <div class="aspect-w-10 aspect-h-6 sm:aspect-w-2 sm:aspect-h-1 lg:aspect-w-1">
                                                <img
                                                    class="object-cover object-center rounded-3xl shadow-2xl"
                                                    src="https://images.unsplash.com/photo-1507207611509-ec012433ff52?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=934&q=80"
                                                    alt="">
                                            </div>
                                        </div>
                                        </div>

                                        <div
                                            class="relative bg-gray-700 lg:col-start-3 lg:row-start-1 lg:col-span-10 lg:rounded-3xl lg:grid lg:grid-cols-10 lg:items-center">
                                            <div
                                                class="hidden absolute inset-0 overflow-hidden rounded-3xl lg:block"
                                                aria-hidden="true">
                                                <svg
                                                    class="absolute bottom-full left-full transform translate-y-1/3 -translate-x-2/3 xl:bottom-auto xl:top-0 xl:translate-y-0"
                                                    width="404"
                                                    height="384"
                                                    fill="none"
                                                    viewBox="0 0 404 384"
                                                    aria-hidden="true">
                                                    <defs>
                                                        <pattern
                                                            id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d"
                                                            x="0"
                                                            y="0"
                                                            width="20"
                                                            height="20"
                                                            patternUnits="userSpaceOnUse">
                                                            <rect
                                                                x="0"
                                                                y="0"
                                                                width="4"
                                                                height="4"
                                                                class="text-gray-500"
                                                                fill="currentColor"/>
                                                        </pattern>
                                                    </defs>
                                                    <rect
                                                        width="404"
                                                        height="384"
                                                        fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"/>
                                                </svg>
                                                <svg
                                                    class="absolute top-full transform -translate-y-1/3 -translate-x-1/3 xl:-translate-y-1/2"
                                                    width="404"
                                                    height="384"
                                                    fill="none"
                                                    viewBox="0 0 404 384"
                                                    aria-hidden="true">
                                                    <defs>
                                                        <pattern
                                                            id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d"
                                                            x="0"
                                                            y="0"
                                                            width="20"
                                                            height="20"
                                                            patternUnits="userSpaceOnUse">
                                                            <rect
                                                                x="0"
                                                                y="0"
                                                                width="4"
                                                                height="4"
                                                                class="text-gray-500"
                                                                fill="currentColor"/>
                                                        </pattern>
                                                    </defs>
                                                    <rect
                                                        width="404"
                                                        height="384"
                                                        fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"/>
                                                </svg>
                                            </div>
                                            <div
                                                class="relative max-w-md mx-auto py-12 px-4 space-y-6 sm:max-w-3xl sm:py-16 sm:px-6 lg:max-w-none lg:p-0 lg:col-start-4 lg:col-span-6">
                                                <h2 class="text-3xl font-extrabold text-white" id="join-heading">Commencer votre parcours</h2>
                                                <p class="text-lg text-white">Plongez dans l'expérience dès aujourd'hui !
                                                    Votre parcours commence ici, prêt à vivre une expérience inoubliable ?
                                                </p>
                                                <a
                                                    class="block w-full py-3 px-5 text-center bg-gray-500 border border-transparent rounded-md shadow-md text-base font-medium text-gray-50 hover:bg-gray-400 sm:inline-block sm:w-auto"
                                                    href="{{ path('app_register_client') }}">Démarrer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>