{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}| Changer mot passe{% endblock %}

{% block body %}
<section>
	<section class="relative bg-white py-2 iphone:py-6 xs:py-4 lg:py-14">
		<div class="max-w-5xl mx-auto py-10 sm:px-6 lg:px-8">
			<h5 class="h5 p-8 my-8">Réinventez votre accès avec un nouveau mot de passe</h5>
			<p class="p-8">Salut ! {{ user.identity.lastname }} vous souhaite changer de mot passe, bonne initiative</p>
			{{ form_start(form, {'attr': {'class': 'max-w-2xl mx-auto p-8 iphone:p-5 sm:p-6 md:p-8'}}) }}
				{{ form_label(form.newPassword.first) }}
				{{ form_widget(form.newPassword.first) }}
				<span class="text-danger-700 text-sm pb-16">{{ form_errors(form.newPassword.first) }}</span>
			
				{{ form_label(form.newPassword.second) }}
				{{ form_widget(form.newPassword.second) }}
			<div class="flex items-center">
				<button type="submit" class="btn-primary max-w-sm mx-auto">Changer</button>
			</div>
			{{ form_end(form) }}
		</div>
	</section>
</section>
{% endblock %}


